# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Project artifacts
parkingSlotPositions.npy
carParkImg.png
carPark.mp4
*.mp4
